cffi
Pillow
ipython
pip
wheel
Jinja2
parso
jedi
colorama
PuLP
numpy
setuptools
scipy
matplotlib
MarkupSafe
Pygments
traitlets
decorator
packaging
pexpect
wcwidth
ptyprocess
six
python-dateutil
icecream
executing
IsoSpecPy
asttokens
contourpy
fonttools
pycparser
pyparsing
cycler
kiwisolver
masserstein
tqdm
prettytable